<div class="nav-cont" tabindex="0">
  <div class="left-bar">
    <div id="drawer-btn" class="button-selected">
      <span class="material-icons small-icon rotate-icon">folder</span>
      <div class="name"><u>1</u>: Project</div>
    </div>
  </div>

  <div class="border"></div>

  <div id="drawer" class="file-explorer-cont">
    <div class="explorer-toolbar">
      <div class="project-icon mr6"></div>
      <div class="label">Project</div>
      <div class="spacer"></div>
      <div class="button mr4"><img src="/assets/ic-img/focus.png" class="ic-default hover" /></div>
      <div class="button mr4"><img src="/assets/ic-img/fold.png" class="ic-default" /></div>
      <div class="border mr4"></div>
      <div id="close-btn" class="button mr4"><img src="/assets/ic-img/remove.png" class="ic-default" /></div>
    </div>
    <div class="explorer-cont">
      <div class="item">
        <img src="/assets/ic-img/folder_fold.png" class="ic-default mr4" />
        <img src="/assets/ic-img/folder.png" class="ic-default mr4" />
        <div class="bold">{{site.username}}</div>
      </div>

      {% for c in site.collections %}
      <div class="item pl16">
        <img src="/assets/ic-img/folder_fold.png" class="ic-default mr4" />
        <img src="/assets/ic-img/folder.png" class="ic-default mr4" />
        <div>{{c.label}}</div>
      </div>
        {% for post in site[c.label] %}
        <div class="item pl54">
          <img src="/assets/ic-img/html.png" class="ic-default mr4" />
          <div>{{post.title}}.html</div>
        </div>
        {% endfor%}
      {% endfor %}
    </div>
  </div>
</div>
<script>
let isDrawer = true;
let drawer = document.getElementById('drawer');
let drawerBtn = document.getElementById('drawer-btn');
let closeBtn = document.getElementById('close-btn');
let folderStructure = parseFolderStructure(`{{site.collections}}`);

console.log(folderStructure);



drawerBtn.addEventListener('click', switchDrawer);
closeBtn.addEventListener('click', switchDrawer);

function switchDrawer () {
  isDrawer = !isDrawer;
  setState();
}

function setState () {
  if (isDrawer) {
    drawerBtn.classList.add('button-selected');
    drawerBtn.className = drawerBtn.className.replace(/\bbutton-default\b/g, '');
    drawer.style.display = 'block';
  } else {
    drawerBtn.classList.add('button-default');
    drawerBtn.className = drawerBtn.className.replace(/\bbutton-selected\b/g, '');
    drawer.style.display = 'none';
  }
}


// 최악의 코드가 나왔다.... 나중에 리팩토링해야지...
function parseFolderStructure (target) {
  let res = {}
  for (let i of target.split('][')) {
    let c = getFolderInfo(i.replace(/\[|\]/g, '').split(','));
    res[Object.keys(c)[0]] = c;
  }
  return res;
}
function getFolderInfo (array) {
  let res = {};
  for (let i of array) {
    let parsed = i.trim().split(' ');
    let collection = parsed[2].replace('collection=', '').replace('>', '');
    let post = parsed[1].replace(`_${collection}/`, '').replace('.markdown', '');
    if (Object.keys(res).indexOf(collection) < 0) res[collection] = [];
    res[collection].push(post);
  }
  return res;
}


</script>
