<div class="nav-cont" tabindex="0">
  <div class="left-bar">
    <div id="drawer-btn" class="button-selected">
      <span class="material-icons small-icon rotate-icon">folder</span>
      <div class="name"><u>1</u>: Project</div>
    </div>
  </div>

  <div class="border"></div>

  <div id="drawer" class="file-explorer-cont">
    <div class="content-toolbar">
      <div class="project-icon mr6"></div>
      <div class="label">Project</div>
      <div class="spacer"></div>
      <div class="button mr4"><img src="/assets/ic-img/focus.png" class="ic-default hover"></div>
      <div class="button mr4"><img src="/assets/ic-img/fold.png" class="ic-default"></div>
      <div class="border mr4"></div>
      <div id="close-btn" class="button mr4"><img src="/assets/ic-img/remove.png" class="ic-default">
    </div>
  </div>
</div>
<script>
let isDrawer = true;
let drawer = document.getElementById('drawer');
let drawerBtn = document.getElementById('drawer-btn');
let closeBtn = document.getElementById('close-btn');
console.log(closeBtn);

drawerBtn.addEventListener('click', switchDrawer);
closeBtn.addEventListener('click', switchDrawer);

function switchDrawer () {
  isDrawer = !isDrawer;
  setState();
}


function setState () {
  if (isDrawer) {
    drawerBtn.classList.add('button-selected');
    drawerBtn.className = drawerBtn.className.replace(/\bbutton-default\b/g, '');
    drawer.style.display = 'block';
  } else {
    drawerBtn.classList.add('button-default');
    drawerBtn.className = drawerBtn.className.replace(/\bbutton-selected\b/g, '');
    drawer.style.display = 'none';
  }
}


</script>
