<div class="nav-cont" id="nav-cont" tabindex="0">
  <div class="left-bar">
    <div id="drawer-btn" class="button-selected">
      <span class="material-icons small-icon rotate-icon">folder</span>
      <div class="name"><u>1</u>: Project</div>
    </div>
  </div>

  <div class="border"></div>

  <div id="drawer" class="file-explorer-cont">
    <div class="explorer-toolbar">
      <div class="project-icon mr6"></div>
      <div class="label">Project</div>
      <div class="spacer"></div>
      <div class="button mr4"><img src="/assets/ic-img/focus.png" class="ic-default hover" /></div>
      <div class="button mr4"><img src="/assets/ic-img/fold.png" class="ic-default" /></div>
      <div class="border mr4"></div>
      <div id="close-btn" class="button mr4"><img src="/assets/ic-img/remove.png" class="ic-default" /></div>
    </div>
    <div class="explorer-cont">
      <div class="item" onclick="clickItem(this)">
        <img src="/assets/ic-img/folder_fold.png" class="ic-default mr4" />
        <img src="/assets/ic-img/folder.png" class="ic-default mr4" />
        <div class="bold">{{site.username}}</div>
      </div>

      {% for c in site.collections %}
      {% if c.label != 'posts' %}
      <div class="item pl16" onclick="clickItem(this)">
        <img src="/assets/ic-img/folder_fold.png" class="ic-default mr4" />
        <img src="/assets/ic-img/folder.png" class="ic-default mr4" />
        <div>{{c.label}}</div>
      </div>
      {% endif %}
        {% for post in site[c.label] %}
          {% if page.url contains c.label and page.url contains post.title %}
          <div class="item pl54 selected" onclick="clickItem(this)">
          {% else %}
          <div class="item pl54" onclick="clickItem(this)">
          {% endif %}
            <img src="/assets/ic-img/html.png" class="ic-default mr4" />
            <div>{{post.title}}.html</div>
          </div>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>
<script>
let isDrawer = true;
let navCont = document.getElementById('nav-cont');
let drawer = document.getElementById('drawer');
let drawerBtn = document.getElementById('drawer-btn');
let closeBtn = document.getElementById('close-btn');
// let folderStructure = {
//   '{{site.username}}': parseFolderStructure(`{{site.collections}}`)
// };
let previousSelected;

navCont.focus();
previousSelected = document.getElementsByClassName('selected')[0];

drawerBtn.addEventListener('click', switchDrawer);
closeBtn.addEventListener('click', switchDrawer);

function switchDrawer () {
  isDrawer = !isDrawer;
  setState();
}

function clickItem (e) {
  if (previousSelected) previousSelected.classList.remove('selected');
  e.classList.add('selected');
  previousSelected = e;
}

function setState () {
  if (isDrawer) {
    drawerBtn.classList.add('button-selected');
    drawerBtn.className = drawerBtn.className.replace(/\bbutton-default\b/g, '');
    drawer.style.display = 'block';
  } else {
    drawerBtn.classList.add('button-default');
    drawerBtn.className = drawerBtn.className.replace(/\bbutton-selected\b/g, '');
    drawer.style.display = 'none';
  }
}


// 최악의 코드가 나왔다.... 나중에 리팩토링해야지...
function parseFolderStructure (target) {
  let res = {};
  for (let i of target.split('][')) {
    let c = getFolderInfo(i.replace(/\[|\]/g, '').split(','));
    let key = Object.keys(c)[0];
    res[key] = c[key];
  }
  return res;
}
function getFolderInfo (array) {
  let res = {};
  for (let i of array) {
    let parsed = i.trim().split(' ');
    let collection = parsed[2].replace('collection=', '').replace('>', '');
    let post = parsed[1].replace(`_${collection}/`, '').replace('.markdown', '');
    if (Object.keys(res).indexOf(collection) < 0) res[collection] = [];
    res[collection].push(post);
  }
  return res;
}


</script>
