<div class="section-cont" id="section-cont" tabindex="0">
  <div class="section-header-cont none" id="section-header-cont"></div>
  <div class="section-content-cont" id="section-content-cont">
    {% for c in site.collections %}
      {% for post in site[c.label] %}
        <div class="none page" id="{{c.label}}/{{post.title | replace: ' ', '-'}}">
          {{post}}
        </div>
      {% endfor %}
    {% endfor %}
    <div id="blankPage" class="blank-page">
      <div class="item">Go to File <a href="/me/READ-ME">READ ME</a></div>
      <div class="item mt18">Go to <a target="_blank" href="https://github.com/ebool">Git Hub</a></div>
      <div class="item mt18">Send to <a href="mailto:lastdroq@gmail">Email</a></div>
    </div>
  </div>
</div>
<script>
</script>
<style>
</style>
