<div class="section-cont" tabindex="0">
  <div class="section-header-cont">
    <div class="tab selected">
      <img src="/assets/ic-img/html.png" class="ic-default mr4" />
      <div class="mr4">jeff.html</div>
      <span class="material-icons small-icon close-icon">close</span>
      <div class="bottom-border"></div>
    </div>
    <div class="tab">
      <img src="/assets/ic-img/html.png" class="ic-default mr4" />
      <div class="mr4">simon.html</div>
      <span class="material-icons small-icon close-icon">close</span>
      <div class="bottom-border"></div>
    </div>
    <div class="tab">
      <img src="/assets/ic-img/html.png" class="ic-default mr4" />
      <div class="mr4">kaylie.html</div>
      <span class="material-icons small-icon close-icon">close</span>
      <div class="bottom-border"></div>
    </div>
  </div>
  <div class="section-content-cont">
    this is section content cont
  </div>
</div>
<script>

</script>
<style>
</style>
