<header id="header" class="header-cont flex">
  <div class="flex">
    <span class="material-icons icon mr4">folder</span>
    <div>java</div>
  </div>
  <img src="/assets/ic-img/right-arrow.png" class="ic-right">
  <div class="flex">
    <span class="material-icons icon mr4">folder</span>
    <div>javascript</div>
  </div>
  <img src="/assets/ic-img/right-arrow.png" class="ic-right">
  <div class="flex">
    <span class="material-icons icon mr4">folder</span>
    <div>안녕하세요 우리는 할 수 있어요</div>
  </div>
</header>
