<!doctype html>
<html lang="ko">
<head>
  {% include head.html %}
</head>
<body>
  {% include toolbar.html %}
  <div>
    {{site.title}}
  </div>
  <div>
    {% for author in site.authors %}
      <div>author: {{author.name}}</div>
      <div>url: {{author.url}}</div>
      <div>position: {{author.position}}</div>

      <a class="zoombtn" href="{{ site.baseurl }}{{ author.url }}">{{ author.name }}</a>
    {% endfor %}

    {% for post in site.posts %}
    <ul>
      <li class="wow fadeInLeft" data-wow-duration="1.5s">
        <a class="zoombtn" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        <div>site url: {{site.baseurl}}</div>
        <div>post.url: {{post.url}}</div>
        <p>{{ post.excerpt }}</p>
        <a href="{{ site.baseurl }}{{ post.url }}" class="btn zoombtn">Read More</a>
      </li>
    </ul>
    {% endfor %}
  </div>
<section>
  This is the content of my page
</section>
<footer>
  &copy; to me
</footer>
</body>
</html>
