<!DOCTYPE html>
<head>
  {% include head.html %}
</head>
<body>
  {% include toolbar.html %}
  <h1>{{ page.title }}</h1>
  <div>-----------</div>
  {% for author in site.authors %}
  <div>author: {{author.name}}</div>
  <div>url: {{author.url}}</div>
  <div>position: {{author.position}}</div>
  <div>page-url: {{page.url}}</div>
  <div>page-collection: {{page.collection}}</div>
  <div>page-title: {{page.title}}</div>
  <a class="zoombtn" href="{{ site.baseurl }}{{ author.url }}">{{ author.name }}</a>
  {% endfor %}
  <div>-----------</div>
  <h4>{{ page.date | date_to_string }}</h4>
  <div>====================</div>
  {{ content }}
  <!-- Header -->
</body>
</html>
